.navbar-main-backdrop {
  background: radial-gradient(
    123.22% 129.67% at 100.89% -5.6%,
    #201d47 0%,
    #17153a 100%
  );
  box-shadow: 0px 54.6003px 54.6003px rgba(0, 0, 0, 0.25);
  border-radius: 15.8098px;
  height: 8vh;
  width: 100%;
}
.drop-down-div {
  align-items: center;
  justify-content: space-between;
  width: 13%;
}
.name-style {
  font-family: blenderProBold, sans-serif !important;
  color: white !important;
  font-size: 25px;
}
.navbar {
  font-weight: 300;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff !important;
  justify-self: start !important;
}

.button-style {
  background: linear-gradient(136.67deg, #ff409a 8.34%, #c438ef 95.26%);
  mix-blend-mode: normal;
  opacity: 0.8;
  box-shadow: 0px 3.64002px 28.2101px #ba1358;
  border-radius: 12.7401px;
  border: none;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  letter-spacing: 0.015em;
}
